<div class="text-center">
<h1> Users </h1>
<% User.all.each do |x| %>
<%= x.id %> <br>
Name:
<%=x.name%><br>
Email:
<%=x.email%><br>
<%= link_to "Check out profile", user_path(x) %><br>
------------------------------------------------------------<br>
<% end %>
</div>
