<div class="jumbotron">
<h1> 
<% if current_user %>
Welcome to Pairbnb,
<%=current_user.name%>
<% else %>
Welcome to Pairbnb,
login to enjoy available functions
<% end %>
 </h1>
</div>

<div class="col-md-6" id="listings">
Create new listing
</div>
<%= link_to "create New Listing", new_listing_path %>
<br>
<%= link_to "Show all listings", listings_path %>

<!-- <h1>Listings#new</h1>
<form method=get action=/listings/new>
	<input type=text placeholder="title" name="title"><br>
	<input type=text placeholder="description" name="description"><br>
	<input type=text placeholder="tags" name="tags"><br>
	<input type=submit value="Submit">
</form> -->



